<ion-side-menus>
  <ion-side-menu side="left">
    <header class="bar bar-header bar-assertive">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item ng-show="!vm.newOrder" nav-clear menu-close ng-click="vm.backToNewOrder()">
          Nuevo Pedido
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="profile">
          Mi Perfil
        </ion-item>
        <ion-item nav-clear menu-close ng-click="vm.logOut()">
          Salir
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu-content>
    <ion-view id="option-view">
      <ion-header-bar align-title="center" class="bar-assertive">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <div ng-show="vm.newOrder">
          <h1 class="title">{{vm.title}}</h1>
          <button class="button icon icon-right ion-chevron-right" ng-click="vm.checkOut()">
            Confirmar
          </button>
        </div>
        <div ng-show="!vm.newOrder">
          <h1 class="title">{{vm.title}}</h1>
          <button class="button icon icon-right ion-chevron-right" ng-click="vm.updateOrder()">
            Eliminar
          </button>
        </div>
      </ion-header-bar>
      <ion-content>
        <div ng-repeat="bread in vm.breads track by $index" ng-if="bread">
           <div class="item">
              <img class="bread-image" ng-click="vm.breadClick($index)" ng-src="img/bread.{{bread[0]}}.png">
          </div>
          <h3 class="info"> Pan Tipo {{bread[4]}}, {{bread[3]}} {{vm.currency}}</h3>
          <div class="button-bar" ng-show="vm.selections[$index]">
            <a class="button button-small btn-day {{bread[1][day.value].buttonType}} button-assertive"
              ng-repeat="day in vm.daysInfo"
              on-drag-left="vm.dragLeft()"
              on-drag-right="vm.dragRight()"
              ng-if="bread[1][day.value]"
              on-release="vm.released({{bread[1][day.value]}}, bread[0], bread[2])"
              ng-disabled="!vm.newOrder">{{day.name}}<br>{{bread[1][day.value].amount}}
            </a>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </ion-side-menu-content>
</ion-side-menus>
