#option-view {

  .btn-day {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .bread-image {
    width: 100%;
  }

  div {
    padding: 0;
  }

  .info {
    margin: 0;
    background: #e54a52;
    text-align: center;
    font-size: 14px;
  }

  .info-image {
    width: 8%;
    height: 6%;
    background: red;
    border-radius: 50%;
  }

} 
