<ion-view  id="check-view">
  <ion-header-bar align-title="center" class="bar-assertive">
    <button class="button" ng-click="vm.editOrder()">
      <i class = "icon icon ion-chevron-left"></i>
    </button>
    <h1 class="title">Resumen</h1>
    <button class="button" ng-click="vm.orderType()">Aceptar
      <i class="icon icon ion-card"></i>
    </button>
  </ion-header-bar>
  <ion-content id="check-view">
  <ion-list ng-repeat="day in vm.orders">
      <ion-list-header align-title="center">
        <h3 class="center">{{day[0].day}}</h3>
      </ion-list-header>
        <ion-item>
          <div class="item" ng-repeat="order in day">
              <div class="row">
                <i class="icon ion-android-restaurant"></i>
                <div class="col">
                  {{order.quantity}} pan{{vm.plural(order.quantity)}}
                </div>
                <div class="col">
                  {{vm.spanishName(order.type)}}
                </div>
                <div class="col">
                  ₵{{order.price * order.quantity}}
                </div>
              </div>
          </div>
          <div class="icon ion-cash"> Subtotal con envio: ₵{{(vm.subtotal(day)| number)}}</div>
        </ion-item>
    </ion-list>
    <h1 class="center">Total semanal: {{vm.totalPrice | number}}</h1>
  </ion-content>
</ion-view>
