<div>
  <ion-checkbox ng-model="data.uniqueOrder" ng-show="!data.regularOrder">
    Orden única
  </ion-checkbox>
</div>
<div>
  <ion-checkbox ng-model="data.regularOrder" ng-show="!data.uniqueOrder">
    Repetir cada semana
  </ion-checkbox>
</div>