#login-view {
  bottom: 44px !important;
  top: 0px !important;
  #login-logo {
    #logo {
      width: 80%;
      margin: 34% 0 30% 10%;
    }
  }

  #login-form {
    padding: 0 0 15% 0;
  }

  .actions {
    width: 80%;
    margin: auto;
  }
}
