<ion-view id="login-view">
  <ion-nav-bar class="bar bar-header bar-assertive">
        <ion-nav-back-button >
        </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content id="login-view">
    <div id="login-logo">
      <img src="img/logo-login.jpg" id="logo" />
    </div>
    <div id="login-form">
      <form name="loginForm">
        <div class="list list-inset">
          <label class="item-input">
            <i class="icon ion-email placeholder-icon"></i>
            <input type="email" placeholder="Correo" ng-model="vm.user.email" required />
          </label>
          <label class="item-input">
            <i class="icon ion-key placeholder-icon"></i>
            <input type="password" placeholder="Contraseña" ng-model="vm.user.password" required/>
          </label>
        </div>
        <div class="actions">
          <button class="button button-block button-assertive btn-dark-purple no-margin" type="submit" ng-click="vm.authenticate(vm.user)" ng-disabled="loginForm.$invalid"> Iniciar Sesión </button>
        </div>
      </form>
    </div>
  </ion-content>
  <!-- <ion-footer-bar class="no-padding">
    <button class="button button-block button-assertive no-margin no-border" type="submit" ng-click="vm.recover()" > Recuperar Contraseña </button>
  </ion-footer-bar> -->
</ion-view>
