<ion-view id="client-view">
  <ion-nav-bar class="bar bar-header bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>
    <div id="client-logo">
      <img src="img/logo-login.jpg" id="logo" />
    </div>
    <div class="row">
      <div id="client-form">
        <form name="clientForm">
          <div class="list list-inset client-wrapper">
            <label class="item-input">
              <i class="icon ion-person placeholder-icon"></i>
              <input type="text" placeholder="Nombre Completo" ng-model="vm.client.fullName" required />
            </label>
            <label class="item-input">
              <i class="icon ion-information placeholder-icon"></i>
              <input type="number" placeholder="Teléfono" ng-model="vm.client.phone" required />
            </label>
            <label class="item-input">
              <i class="icon ion-information placeholder-icon"></i>
              <input type="text" placeholder="Ciudad" ng-model="vm.client.city" required />
            </label>
            <label class="item-input">
              <i class="icon ion-information placeholder-icon"></i>
              <input type="text" placeholder="Dirección" ng-model="vm.client.address" required disabled="true"/>
            </label>
            <label class="item-input">
              <i class="icon ion-information placeholder-icon"></i>
              <input type="text" placeholder="Número de Casa" ng-model="vm.client.houseNumber" required />
            </label>
            <label class="item-input">
              <i class="icon ion-email placeholder-icon"></i>
              <input type="email" placeholder="Correo" ng-model="vm.client.email" required />
            </label>
            <label class="item-input">
              <i class="icon ion-key placeholder-icon"></i>
              <input type="password" placeholder="Contraseña" ng-model="vm.client.password" required/>
            </label>
            <label class="item-input">
              <i class="icon ion-key placeholder-icon"></i>
              <input type="password" placeholder="Confirmar Contraseña" ng-model="vm.client.confirmPassword" required/>
            </label>
          </div>
          <div class="actions">
            <button class="button button-block button-assertive btn-dark-purple no-margin" type="submit" ng-click="vm.save(vm.client)" ng-disabled="clientForm.$invalid"> Registrarse </button>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
