#client-view {
  #client-form {
    width: 100%;
  }

  #logo {
    width: 50%;
    margin: 20% 24% -4%;
  }

  .actions {
    width: 80%;
    margin: auto;
  }
}

.popup-buttons button {
  background-color: #ed3b3b !important;
}
