<ion-view>
  <ion-header-bar align-title="center" class="bar bar-header bar-assertive">
        <button ng-click="vm.backToOptions()" class="button icon ion-chevron-left"></button>
        <h1 class="title">Mi Información</h1>
  </ion-header-bar>
  <ion-content id="profile-view">
  <div class="col">
    <div class="row">
      <div class="col email">
      {{vm.user.email}}
      </div>
      <div class="col phone">
      +506{{vm.user.phone}}
      </div>
    </div>
    <div class="row">
      <ion-item class="item item-text-wrap profile-item">
        {{vm.user.address}}, {{vm.user.city}}<br>Casa número {{vm.user.houseNumber}}
        <button class="button button-full button-assertive">Mi direccion</button>
      </ion-item>
    </div>
    <div class="row">
      <ion-item class="profile-item">
        <img class="card" ng-src="{{vm.cardImage}}" alt= "{{vm.cardImage}}" ng-show="vm.cardFound"> {{vm.card}}
        <button class="button button-full button-assertive" ng-click="vm.addCard()">Información de pago</button>
      </ion-item>
    </div>
    <div class="row">
      <ion-item class="profile-item">
        <center>Mis Ordenes</center>
        <div class="row">
        <div class="col">
        <button class="button button-full button-assertive" ng-click="vm.getMyOrders(true)">Recurrentes</button>
        </div>
        <div class="col">
        <button class="button button-full button-assertive" ng-click="vm.getMyOrders(false)">Únicas</button>
        </div>
        </div>
      </ion-item>
    </div>
  </div>
  </ion-content>
</ion-view>