  #profile-view {

  margin-left: 5%;
  margin-right: 5%;

  .email {
    margin-top: 10%;
    margin-bottom: 5%;
	  color: #a1a1aa;
	  text-align: left;
  }

  .phone {
    margin-top: 10%;
    margin-bottom: 5%;
    color: #a1a1aa;
    text-align: right;
  }

  .profile-item {
    align-text: center;
    width: 100%;
    color: #a1a1aa;
  }
  .card {
    width: 20%;
  }
}
