<ion-content scroll="false" id="home-view">
  <div id="home-logo">
    <img src="img/logo.jpg" id="logo"/>
  </div>
</ion-content>
<ion-footer-bar class="no-padding">
  <button class="button button-block button-assertive no-margin no-border" ng-click="vm.goToCreateUser()" > Registrarse </button>
</ion-footer-bar>
<ion-subfooter-bar class="bar bar-subfooter no-padding">
  <button class="button button-block button-assertive btn-dark-purple no-margin no-border" ng-click="vm.goToLogIn()" > Iniciar Sesión </button>
</ion-subfooter-bar>
