#card-view {
  padding-left: 5%;
  padding-right: 5%;

  .input {
    border: 0.5px solid #C7C7CD;
    margin-left: 7%;
    width: 86%;
    }

  .image {
  	margin-top: 70px; }
  .subtitle {
    margin-left: 7%;
    color: #C7C7CD; }
  .date {
    border: 0.5px solid #C7C7CD;
    margin-left: 7%;
    width: 105% }
  .code {
    margin-left: 7%;
    border: 0.5px solid #C7C7CD; 
    width: 84%;
  }
}
