<ion-view>
  <ion-nav-bar align-title="center" class="bar bar-header bar-assertive">
        <ion-nav-back-button >
        </ion-nav-back-button>
        <ion-nav-title>Información de Pago</ion-nav-title>
  </ion-nav-bar>
  <ion-content id="card-view">
    <center>
      <img src="img/card.all.jpg" class="image" />
    </center>
      <form name="cardForm">
        <label>
          <div class="subtitle">
            Nombre en la tarjeta:
          </div>
          <input class="input" type="text" ng-model="vm.card.fullName" ng-trim="true" required>
        </label>
        <label>
          <div class="subtitle">
            Número de tarjeta:
            <br>
            {{vm.cardCarrier}}
          </div>
          <input class="input" type="number" ng-model="vm.card.number" ng-change="vm.getCardType()" ng-maxlength="19" ng-trim="true" required>
        </label>
        <div class="row">
          <div class="col">
            <div class ="subtitle">
              Fecha de expiración:
            </div>
            <input class="date" type="month" ng-model="vm.card.date" ng-trim="true" required>
          </div>
          <div class="col">
            <div class ="subtitle">
              Código:
            </div>
            <input class="code" type="number" ng-model="vm.card.code" ng-minlength="3" ng-trim="true" required>
          </div>
        </div>
        <button class="button button-full button-assertive" ng-click="vm.addCard()" ng-disabled="cardForm.$invalid">{{vm.addUpdateMessage}}</button>
         <button class="button button-full button-assertive" ng-click="vm.deleteCard()" ng-show="vm.deleteButton">{{vm.deleteMessage}}</button>
      </form>
  </ion-content>
  <ion-footer-bar class="no-padding">
  </ion-footer-bar>
</ion-view>
